<!DOCTYPE html>
<html lang="en">
<head>
    <title>WG Angular</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/css/thirdParty.css">
    <link rel="stylesheet" href="/css/easel.css">
</head>
<body>
<header>
  <h3>Elements selection</h3>
  <h6>Now you have {{selectedElements}}:</h6>
</header>
  <div class="wg-angalar-selected-elements-container">
    <div class="wg-angular-selected-element">
    <span>{{element.name}}</span>
    <span></span>
    </div>
  </div>
</body>

</html>