<!DOCTYPE html>
<html lang="en" ng-app="WGAngular">
<head>
    <title>WG Angular</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="../../compiled/css/thirdParty.css">
    <link rel="stylesheet" href="../../compiled/css/easel.css">
    <link rel="stylesheet" href="../../compiled/css/modal.css">
</head>
<body>
<script src="../../compiled/js/thirdParty.js"></script>
<script src="../../compiled/js/WGAngular.js"></script>
<div class="wg-angular-easel container" ng-controller="EaselController as easel">

    <header>
        <h3>Elements selection</h3>
        <h6>Now you have {{selectedItems.headLine}}:</h6>
    </header>

    <div class="wg-angular-selected-elements-container clearfix">
        <selected-element></selected-element>
    </div>

    <div class="wg-angular-easel-btn-container">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target=".bs-example-modal-lg">change your
            selection
        </button>
    </div>

</div>

<div class="wg-angular-modal" ng-controller="ModalController as modal">

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal elements selection</h4>
                </div>
                <div class="modal-body">

                    <div class="wg-angular-modal-body-header clearfix">
                        <span class="wg-angular-search-container pull-left">
                            <label for="wg-angular-search">Search</label>
                            <input id="wg-angular-search" type="text">
                        </span>
                        <span class="wg-angular-filter-container pull-right">
                            <label for="wg-angular-filter">Filter</label>
                            <select id="wg-angular-filter">
                                <option value="*.*">without filter</option>
                                <option value=">10">number > 10</option>
                                <option value=">100">number > 100</option>
                                <option value=">200">number > 200</option>
                            </select>
                        </span>
                    </div>

                    <form class="wg-angular-modal-body-content" name="wgForm">
                        <div class="wg-angular-modal-body-content-element"
                             ng-repeat="element in model.elements track by $id(element)">
                            <input id={{element.id}} type="checkbox"
                                   ng-model="confirmed"
                                   ng-checked="$parent.isChecked(element.id)"
                                   ng-change="$parent.changed(element.id, confirmed)">
                            <label for={{element.id}}>{{element.name}}</label>
                        </div>
                    </form>

                    <div class="wg-angular-modal-body-footer clearfix">
                        <div class="wg-angular-modal-body-footer-info">
                            <h6>Now you have {{selectedItems.headLine}}:</h6>
                        </div>
                        <selected-element></selected-element>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

</div>
</body>

</html>