<div class="wg-angular-selected-element pull-left"
     ng-repeat="element in selectedItems.elements track by $id(element)">
    <span class="wg-angular-selected-element-name">{{element.name}}</span>
    <div class="wg-angular-selected-element-controls pull-right">
        <span class="wg-angular-selected-element-controls-separation">|</span>
        <button type="button" class="close" aria-label="Close" ng-click="deletedSelected(element.id)">
            <span aria-hidden="true">&times;</span></button>
    </div>
</div>