.wg-angular-modal {

  .modal-dialog {
    width: 450px;

    .modal-content {
      background: #3F3F3F;

      .modal-header,
      .modal-header button {
        color: #FFFFFF;
      }

      .modal-header {
        border: none;
      }

      .modal-footer {
        border: none;
      }
    }
  }
}

.wg-angular-modal-body-header {
  margin-bottom: 15px;

  label {
    color: #FFFFFF;
    font-weight: 100;
    margin-right: 10px;
  }
}

.wg-angular-search-container {
  input {
    width: 135px;
    font-size: 12px;
  }
}

.wg-angular-filter-container {
  select {
    width: 135px;
    height: 23px;
    font-size: 12px;
  }
}

.wg-angular-modal-body-content {
  height: 400px;
  overflow: auto;
  background: #000000;
}

.wg-angular-modal-body-content-element {
  color: #FFFFFF;
  padding: 5px 10px;

  &:first-child {
    padding-top: 10px;
  }

  &:last-child {
    padding-bottom: 10px;
  }

  input {
    margin: 0px;
  }

  label {
    position: relative;
    bottom: 2px;
    margin: 0px;
    font-weight: 100;
  }
}

.wg-angular-modal-body-footer {

  .wg-angular-selected-element {
    width: 120px;
    height: 30px;
    color: #FFFFFF;
    background-color: #000000;
    padding: 4px 5px 0px 5px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }

  .wg-angular-selected-element-name {
    display: inline-block;
    width: 75px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .wg-angular-selected-element-controls-separation {
    margin-right: 10px;
  }

  button {
    line-height: inherit;
    font-size: 18px;
    color: #FFFFFF;
    text-shadow: none;
    opacity: 1;
    margin-right: 5px;

    &:hover {
      opacity: .8;
    }
    &:focus {
      outline: none;
    }
  }
}

.wg-angular-modal-body-footer-info {
  color: #FFFFFF;
}